#myHeader {
  margin-bottom: 80px; 
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto;
  }
}

.navbar-brand {
  font-family: 'Sometype Mono', monospace;
}

h1 {
  font-family: 'Sometype Mono', monospace;
}
