.problem-solving-btn {
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
  border-bottom: 1px solid;
}

h3 {
  color: rgb(56, 56, 56);
  font-weight: bold;
  font-size: 20px;
  font-family: italic;
}

.skills-btn {
  margin-bottom: 10px;
  border-radius: 20px;
}

.personal-website-link, 
.portfolio-website-link {
  text-decoration: underline;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.personal-website-link:hover, 
.portfolio-website-link:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}