.about-container {
  line-height: 25px;
}

.about {
  line-height: 25px;
}

.portfolio-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.portfolio-link:hover {
  color: black;
  text-decoration: underline;
}


.me-picture {
  width: 200px;
}

.mail-icon, .location-icon {
  margin-right: 10px;
  margin-top: -2px;
}

.button {
  border: 1px solid;
}


.linkedin {
  margin-right: 6px;
}

.img-fluid {
  width: 100%; 
  height: auto; 
}